<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>zapiv.com</title>
    <link rel = "stylesheet" href = "index.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap" rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Поля</title>
</head>
<body>

<form action="/add-news" method="post" enctype="multipart/form-data">
    <input type="text" name="title" placeholder="Введите название статьи">
    <input type="text" name="anons" placeholder="Введите анонс статьи">
    <input type="text" name="full_text" placeholder="Введите текст статьи">
    Выберите фото<input type="file" name="file">
    <button type="submit">Добавить статью</button>
</form>

</body>
</html>