<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>zapiv.com</title>
    <link rel = "stylesheet" href = "index.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap" rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Поля</title>
</head>
<body>
<form action="/add-beer" method="post" enctype="multipart/form-data">
    <input type="text" name="nameofthebeer" placeholder="Название пива">
    <input type="text" name="shortreview" placeholder="Короткое описание">
    <input type="text" name="idofthebeer" placeholder="Российское (айди 1)">
    Выберите фото<input type="file" name="file">
    <button type="submit">Добавить статью</button>
</form>

<p>1 - российское</p>
2 - импортное
3 - крафтовое
4 - светлое
5 - темное
6 - крепкое
7 - экзотика
    8 - клубное
</body>
</html>